<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> 码匠社区 community Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/community.css">

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <!-- left -->
     <!--   <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="media" th:each="questionDTO:${questionDTOList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${questionDTO.user.avatarUrl}" alt="头像">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${questionDTO.title}"></h4>
                    <span th:text="${questionDTO.description}"></span> <br>
                    <span class="text-desc">
                        <span th:text="${questionDTO.commentCount}"></span>个回复 /
                        <span th:text="${questionDTO.viewCount}"></span>次浏览 /
                        <span th:text="${#dates.format(questionDTO.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span>
                    </span>

                </div>
            </div>

        </div>-->

        <!-- right -->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group">
                <a href="#" class="list-group-item active" th:class="{section == 'questions'}?'active':''">我的问题</a>
                <a href="#" class="list-group-item" th:class="{section == 'questions'}?'active':''">
                    最新回复
                    <span class="badge">14</span>
                </a>
            </div>
        </div>

    </div>
</div>



</body>
</html>